@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

/* - to see the difference, dev only */
@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap');

:root {
    --gradient-from: rgb(218, 36, 49);
    --gradient-to: rgb(122, 67, 151);
    --project-yellow: rgb(251, 204, 82);
    --project-yellow-op90: rgba(251, 204, 82, .9);
    --project-yellow-op100: rgba(251, 204, 82, 1);
    --heart: #DD4C39;
    --project-grey: rgb(150, 150, 150);
}

headers,
menus {
    font-family: 'Catamaran', Helvetica, Arial, sans-serif;
}

.btn,
.navbar-brand,
.nav-link {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
}

.btn {
    transition: color .3s;
    border: solid 1px;
    border-color: var(--project-grey);
}

.btn:hover {
    background-color: var(--project-yellow);
    border-color: var(--project-yellow);
}

.navbar-brand {
    /* color: var(--project-yellow) !important; */
    color: var(--project-yellow);
}

.nav-link {
    color: rgb(150, 150, 150);
}

.navbar-brand:hover,
.nav-link:hover {
    /* color: rgb(255, 255, 255) !important; */
    color: rgb(255, 255, 255);
}

paragraphs,
footer {
    font-family: 'Mulish', Helvetica, Arial, sans-serif;
}

.top-content {
    background: url("./img/bg-pattern.png"), linear-gradient(to right, var(--gradient-from), var(--gradient-to));
}

.buzz,
.friends {
    background-color: var(--project-yellow);
}

.phone {
    max-width: 30%;
}

.building {
    position: relative;
}

.building__bg--img {
    width: 100%;
}

.text-for-building {
    position: absolute;
    top: 10%;
    left: 10%;
}

.heart {
    color: var(--heart);
}